// Farben -----------------------------
// Schrift -----------------------------

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-indent: 0;
  color: #000;
}

body {
  width: 100%;
  margin: 0;
}
// Bilder -----------------------------
// Texte -----------------------------
// Boxen -----------------------------

header {
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  h1 {
    text-align: center;
  }
}

.content {
  width: 100%;
  margin-left: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .outer-box_left {
    //min-height: 100%;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .product-box {
      display: flex;
      flex-basis: calc(23% - 5px);
      justify-content: center;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;

      a {
        width: 100%;
        padding: 20 10px;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid #000;
        color: #000;
        text-align: center;
        text-decoration: none;

        &:active,
        &:hover {
          background-color: #DDDADA;
        }
      }
    }
  }

  .outer-box_right {
    width: 35%;
    border: 2px solid #000;
    text-align: center;

    #set-screen-option {
      .set-screen-button {
        width: 223px !important;
        padding: 10px;
        font-size: 13px;

        .fas {
          padding-left: 10px;
        }
      }

      #fullscreen-off {
        display: 0;
        color: red;
        border-color: red;
      }
    }

    .product-cart {
      margin: 10px;
      border: 1px solid #000;

      #product-list {
        min-height: 320px;
        //list-style-type: none;
        li {
          margin-left: -40px;
          text-align: center;
          text-decoration: none;
          letter-spacing: 3px;
        }
      }
    }

    .sum-list {
      margin: 30px 15px;
    }

    .checkout-box {
      margin: 15px 15px 40px;

      a {
        color: #000;
        text-align: center;
        text-decoration: none;
        padding: 10px;

        &:active,
        &:hover {
          background-color: #DDDADA;
        }
      }
    }

    .calculator {
      padding-top: 30px;
      padding-bottom: 30px;
      width: 100%;
      height: auto;
      border: 1px solid black;
      margin: 0 auto;
      text-align: center;
      background: #e2e2e2;
    }

    #calc-display {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 10px;
      height: 30px;
      width: 260px;
      text-align: right;
      border: 1px solid black;
      box-shadow: 0 0 15px grey;
      font-size: 20px;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      // letter-spacing: 0.1em;
      color: #000;
    }

    input {
      border: none;
    }

    .keys {
      width: 40px;
      height: 35px;
      margin-left: 10px;
      margin-bottom: 20px;
      box-shadow: 0 0 5px gray;
      cursor: pointer;
      background-color: #fff;
      outline-style: none;
      font-size: 17px;
      border-radius: 5px;
    }

    #key-zero {
      width: 95px;
      margin-left: 6px;
    }

    #key-result {
      width: 95px;
    }

    .equal:hover,
    .keys:hover {
      background: #ccc;
      color: #fff;
      font-weight: bold;
    }

    .equal:focus,
    .keys:focus {
      border: 0.5px dashed black;
    }

    .equal {
      margin-left: 13px;
      font-size: 1em;
      width: 90px;
      height: 35px;
      cursor: pointer;
      outline-style: none;
      border-radius: 5px;
    }
  }
}

footer {
  margin-top: 40px;

  p {
    text-align: center;

    .footer_item {
      padding: 50px;

      .style_as_link {
        text-decoration: underline;
        color: #000;

        &:active,
        &:hover {
          cursor: pointer;
          background-color: #999;
        }
      }
    }
  }
}

#contact_info {
  border: none;
  font-size: 16px;
  text-align: center;

  th {
    font-weight: bold;
    padding: 10px;
  }

  td {
    padding: 10px;
  }
}

#body-login {
  background-color: #3B66C2;
  display: flex;
  justify-content: center;
  align-items: center;

  #login {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 10vh !important;
    min-width: 800px;

    #sign_left {
      width: 400px;
      height: 600px;
      background-image: url("assets/img/cashbox.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px;
    }

    #sign_right {
      width: 400px;
      height: 600px;
      margin: 10px 0;
      text-align: center;

      .description {
        //margin-top: 5px;
        padding-top: 20px;
        padding-left: 5px;
        margin-bottom: 55px;
        font-size: 44px;
        font-weight: bold;
        font-family: Helvetica;
      }

      input {
        width: 90%;
        padding: 10px 20px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid #555;
        border-radius: 10px;
        background-color: #F0F1F4;
        outline: none;
      }

      input::placeholder {
        color: #2D3034;
      }

      input:focus {
        background-color: #B5CBFA;
      }

      .sign-button {
        padding: 10px 20px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid #555;
        border-radius: 10px;
        background-color: #FFFFFF;

        &:active,
        &:focus,
        &:hover {
          background-color: #B5CBFA;
          color: black;
        }
      }
    }
  }
}