// Farben -----------------------------
// Schrift -----------------------------

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-indent: 0;
}

h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
}
// Bilder -----------------------------
// Texte -----------------------------
// Boxen -----------------------------

.content {
  width: 100%;
  margin-left: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .outer-box_left {
    min-height: 100%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .product-box {
      display: flex;
      flex-basis: calc(23% - 5px);
      justify-content: center;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;

      a {
        width: 100%;
        padding: 20px 10px;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid #000;
        color: #000;
        text-align: center;
        text-decoration: none;

        &:active,
        &:hover {
          background-color: #DDDADA;
        }
      }
    }
  }

  .outer-box_right {
    width: 20%;
    border: 2px solid #000;
    text-align: center;

    .product-cart {
      margin: 10px;
      border: 1px solid #000;

      #product-list {
        min-height: 320px;
        list-style-type: none;

        li {
          margin-left: -40px;
          text-align: center;
          text-decoration: none;
          letter-spacing: 3px;
        }
      }
    }

    .sum-list {
      margin: 30px 15px;
    }

    .checkout-box {
      margin: 15px;

      a {
        color: #000;
        text-align: center;
        text-decoration: none;
        padding: 10px;

        &:active,
        &:hover {
          background-color: #DDDADA;
        }
      }
    }
  }
}