// Farben -----------------------------
// Schrift -----------------------------

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-indent: 0;
}

h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  min-width: 500px;
}
// Bilder -----------------------------
// Texte -----------------------------
// Boxen -----------------------------

.content {
  display: flex;
  flex-direction: row;

  .outer-box {
    width: 33.33%;
    border: 2px solid #000;

    .inner-box {
      border: 1px solid #88b900;
    }

    .product-box {}
  }
}